nav {
  background-color: gray;
  color: white;
}

nav ul {
  overflow: hidden;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: bisque;
}
#main {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 5px;
  margin: 5px;
}
