html {
  display: flex;
  justify-content: center;
  background: #cfcfcf;
  background: linear-gradient(
    90deg,
    rgba(207, 207, 207, 1) 0%,
    rgba(103, 142, 214, 1) 53%,
    rgba(0, 0, 0, 1) 100%
  );
}

head {
  border: solid black 5px;
  margin: 10px;
}

nav ul {
  overflow: hidden;
  list-style-type: none;
  display: flex;
  justify-content: center;
  border: none;
}
nav li {
  background-color: #cdc392;
  display: flex;
  justify-content: center;
  border: 5px solid black;
  padding: 5px;
  margin: 5px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

#images {
  background-color: black;
  display: flex;
  justify-content: center;
  border: solid 20px black;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-color: #e8e5da;
  text-align: center;
  width: 700px;
  height: 900px;
}

p {
  color: rgb(0, 0, 0);
  background-color: #e8e5da;
}
ul {
  border: solid black;
  color: rgb(0, 0, 0);
  background-color: #e8e5da;
  list-style-type: none;
}
